{% extends "base.html" %}

{% block title %}
    TaskLaunchr
{% endblock title %}
{% block content %}
    <header class="website-header">
        <div class="logo">TaskLaunchr</div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_list" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_create" %}">+ New List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_item_create" %}">+ New Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://www.linkedin.com/in/villoslado/"
                       target="blank">About Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Are you sure you want to delete this list?</h1>
            <form method="post">
                {% csrf_token %}
                <button id="delete-btn">Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
