{% extends "base.html" %}

{% block title %}
    TaskLaunchr
{% endblock title %}
{% block content %}
    <header class="website-header">
        <div class="logo">TaskLaunchr</div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_list" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_create" %}">+ New List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_item_create" %}">+ New Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_update" todolist.id %}">Edit List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_delete" todolist.id %}">Delete List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://www.linkedin.com/in/villoslado/"
                       target="blank">About Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>
                                <a class="table-link" href="{% url "todo_item_update" item.id %}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
