{% extends "base.html" %}

{% block title %}
    TaskLaunchr
{% endblock title %}
{% block content %}
    <header class="website-header">
        <div class="logo">TaskLaunchr</div>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_list" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_list_create" %}">+ New List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "todo_item_create" %}">+ New Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://www.linkedin.com/in/villoslado/"
                       target="blank">About Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in todo_list_list %}
                        <tr>
                            <td>
                                <a class="table-link" href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a>
                            </td>
                            <td>{{ list.items.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
