{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/todos.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var images = [
                    "{% static 'images/pic1.jpg' %}",
                    "{% static 'images/pic2.jpg' %}",
                    "{% static 'images/pic3.jpg' %}",
                    "{% static 'images/pic4.jpg' %}",
                    "{% static 'images/pic5.jpg' %}",
                    "{% static 'images/pic6.jpg' %}",
                    "{% static 'images/pic7.jpg' %}"
                ];
                var randomImage = document.getElementById('random-image');
                var randomIndex = Math.floor(Math.random() * images.length);
                randomImage.src = images[randomIndex];
            });
        </script>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        <div id="random-image-container">
            <img id="random-image" src="" alt="Random Image">
        </div>
        <footer>
            Productivity Made Simple 😃
        </footer>
    </body>
</html>
