body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

.logo {
    font-weight: 600;
    font-size: 22px;
}

main {
    padding: 16px;
}

header {
    margin-bottom: 50px;
}

footer {
    padding: 16px 16px;
    font-weight: 575;
    background-color: #1a1a1a;
    color: #FFFAFA;
    margin-top: 50px;
}

h1 {
    color: #1a1a1a;
    font-size: 1.6em;
}

h2 {
    color: #4B4B4B;
    font-size: 1.4em;
}

.website-header {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: #FFFAFA;
    padding: 1em;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    gap: 1em;
    flex-wrap: wrap;
  }

.nav-link {
  color: white;
  font-weight: 550;
  text-decoration: none;
  color: #FFFAFA;
}

.nav-link:hover {
    color: #D3D3D3;
}

.table-link {
    text-decoration: none;
    color: #800000;
}

.table-link:hover {
    color: #2E2E2E;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    border: 0.88px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: left;
    background-color: #FFFAFA;
    color: #2E2E2E;
}

th, td {
    padding: 3px 50px 3px 3px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    width: 205px;
    margin: -10px 4px 30px 0px;
	padding: 8px 16px;
	background: #dfe1e5;
	font-size: 15px;
	border: none;
	border-radius: 4px;
}

button:hover {
    color: #081c15;
    background-color: #b3d89c;
}

#delete-btn:hover {
    background-color: #a71e34;
    color: whitesmoke;
}

#random-image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 50px 0px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#random-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
